/*Basic*/

body, html {
	margin: 0;
	padding: 0;
	background-image: url(bgpattern.gif);
	font: normal 0.9em/1.4em Trebuchet MS,"Arial CE", Arial, Helvetica, sans-serif;
	color: #3E3E3E;
}

a, h2 {
	color: #3e3e9e;
}

#wrap {
	width: 900px;
	margin: 0 auto;
}

.left {
	float:left;
}
.right {
	float:right;
	margin-top:12px;
}
.clear {
	clear:both;
}

/*Header*/
#header, #comic-navigation, #content {
	background-color: #ddd;
	padding: 20px;
	margin: 20px;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

#header {
	margin: 20px 20px 0 20px; !important
}

h1 {
	font-size: 60px;
	margin: 30px;
	text-shadow:0 1px 0 #fff;
}

/*Login form*/
#login-box {
	background-color: #fff;
	padding: 20px;
	margin: 20px auto;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;

	width: 400px;
	text-align: center;
	font-size: 20px;
}
#login-box div {
	width: 300px;
	margin: auto;
}
#login-box label {
	display: block;
	text-align: left;
	font-size: 12px;
}
#login-box input {
	width: 300px;
	font-size: 20px;
}
#login-box input[type=submit], div.actions input, a.button {
	width: 100px;
	text-align: center;
	-moz-border-radius: 5px;
	-moz-box-shadow: #222 0px 0px 10px;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: #6E7849 0 0 10px;
	-webkit-transition: background 0.5s ease;
	background-color: #50509f;
	background-image: -moz-linear-gradient(90deg, #224, #50509f);
	background-image: -ms-linear-gradient(90deg, #224, #50509f);
	background-image: -o-linear-gradient(90deg, #224, #50509f);
	background-image: -webkit-linear-gradient(90deg, #224, #50509f);
	background-image: linear-gradient(90deg, #224, #50509f);
	border-radius: 5px;
	border: 1px solid #222;
	box-shadow: #222 0px 0px 10px;
	color: #ffffff;
	display: inline-block;
	margin: auto;
	padding: 5px;
	text-decoration: none;
	text-shadow: #000000 5px 5px 15px;
	transition: background 0.5s ease;
}
#login-box input[type=submit]:hover, div.actions input:hover, a.button:hover {
	background-color: #6c6cb2;
	background-image: -moz-linear-gradient(90deg, #224, #6c6cb2);
	background-image: -ms-linear-gradient(90deg, #224, #6c6cb2);
	background-image: -o-linear-gradient(90deg, #224, #6c6cb2);
	background-image: -webkit-linear-gradient(90deg, #224, #6c6cb2);
	background-image: linear-gradient(90deg, #224, #6c6cb2);
}

/*Flash messages*/
#flash-message {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-style: italic;
	text-align:center;
	border: 1px solid;
	border-top: 0;
	background-image: url(notice-shadow.png);
}

#flash-message.flash-notice {
	border-color: green;
	background-color: #bbffbb;
}

#flash-message.flash-alert {
	border-color: red;
	background-color: #ffbbbb;
}

/*Navigation*/

#comic-navigation {
	text-align:center;
	padding: 10px;
	font-size: 20px;
	text-shadow: 1px 1px 0 #fff;
}

#comic-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#comic-navigation li {
	display: inline-block;
	width: 120px;
}

#comic-navigation a {
	text-decoration: none;
	color: #3E3E3E;
}

#comic-navigation a.disabled, #comic-navigation a.disabled:hover {
	text-decoration: none;
	cursor: default;
	color: #7E7E7E;
}

#comic-navigation a:hover {
	text-decoration: none;
	color: #3E3E9E;
}

/*Content*/

#content {
	font-size: 14px;
	background-color: #fff;
}

#comic-title {
	text-align: center;
}

#comic {
	text-align: center;
}

#comic img {
	/*box-shadow: 10px 10px 15px #999;*/
	
}

/*Footer*/

#footer {
	padding: 0;
	margin: -10px;
	color: #aaaaaa;
	text-align: center;
	font-size: 11px;
}
#footer p {
	margin:	0;
	padding: 0;
}

/*Comic form*/

div.links {
	margin-top:-10px;
	margin-bottom:15px;
	font-size:11px;
}
div.field {
	margin-bottom: 10px;
}

/*Comic table*/
table.comics-list {
  width: 100%;
}
table.comics-list td, 
table.comics-list th  {
  padding: 5px 5px 5px 9px;
  vertical-align: top;
}
table.comics-list tbody tr > td,
table.comics-list tfoot tr > td  {
  border-left: 2px solid #fff;
}
table.comics-list tbody tr > td:first-child,
table.comics-list tfoot tr > td:first-child  {
  border-left: 0;
}

table.comics-list tbody tr.even {
  background: #F0F4F8;
}
table.comics-list tbody tr.odd {
  background: #F6FBFF;
}
table.comics-list tbody td {
  font-size: 100%;
  border-bottom: 1px solid #CED9E7;
}

