<div id="content">
	<h2><%= @comic.title %></h2>
	
	<div class="links">
		<%= link_to 'View all comics', admin_comics_path %> |
		<%= link_to 'Preview', @comic %>
	</div>

	<%= render 'form' %>
	
</div>