<div id="content">
	<h2 id="comic-title"><%= @comic.title %></h2>
	<div id="comic">
		<% if @comic.image %>
			<%= image_tag comic_image_path(@comic) %>
		<% end %>
	</div>
	
	<%= link_to 'Back', admin_comics_path %>
	
</div>
